

.card {
width: 250px;
height: 200px;
float: left;
margin: 10px;
clear: right;
background-image: url("/images/hypnotize.png");


}

.card img {
width: 250px;
height: 200px;
border-color: darkgrey;
border-style: double;
align-self: center;
background-color: white;
}


.card.flipped img {
visibility: visible;
}

.card.notflipped img{
visibility: hidden;

}

.game{
margin: 10%;
margin-top: 5px;
  
max-width: 80%;

}
